<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

Title : MyAssignment

Intro : In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. julia
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. TensorFlow
4. Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Google Colab       |

### Below are a few examples of evaluating arithmetic expressions in Python.

Here are some examples of arithmetic expressions in Python:

- Addition: `3 + 5` results in `8`
- Subtraction: `10 - 2` results in `8`
- Multiplication: `4 * 7` results in `28`
- Division: `20 / 4` results in `5.0`
- Exponentiation: `2 ** 3` results in `8`
- Modulus: `9 % 4` results in `1`

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
result

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Demonstrate how to create and format tables in Markdown.
- Show how to evaluate arithmetic expressions and perform calculations in code cells.
- Convert units from minutes to hours.
- Understand basic Markdown formatting and code cell usage in Jupyter Notebook.

## Author

Akash bhandari